body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #0099cc;
  color: #ffffff;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 12px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #0099cc;
}

/* Set a style for the submit button */
.btn {
  background-color: #0099cc;
  color: #ffffff;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 5;
}


@media screen and (min-width: 600px) {
  #wrap {
    display: inline-block;
    font-size: 100%;
    text-align: left;
    justify-content: left;
  }

  h1 {
    font-size: 200%;
  }

}

@media screen and (min-width: 40em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }

  html {
    display: inline-block;
    text-align: center;
    justify-content: center;
  }
}

